%h2 Login
%form{ action: '/login', method: 'post', id: 'user-form' }
  %label{ for: 'username' } Username:
  %input{ type: 'text', name: 'username', id: 'username_input' }
  %label{ for: 'password' } Password:
  %input{ type: 'password', name: 'password', id: 'password_input' }
  %input{ type: 'submit', id: 'login-form-submit', value: 'submit' }
