%h2 Create An Account
%form{ action: '/register', method: 'post', id: 'user-form' }
  %label{ for: 'fullname' } Fullname:
  %input{ type: 'text', name: 'fullname', id: 'fullname_input' }
  %br
  %label{ for: 'username' } Username:
  %input{ type: 'text', name: 'username', id: 'username_input' }
  %br
  %label{ for: 'email' } Email:
  %input{ type: 'text', name: 'email', id: 'email_input' }
  %br
  %label{ for: 'password' } Password:
  %input{ type: 'password', name: 'password', id: 'password_input' }
  %br
  %label{ for: 'password_confirm' } Re-enter password:
  %input{ type: 'password', name: 'password_confirm', id: 'password_confirm_input' }
  %br
  %label{ for: 'dob' } Date of birth:
  %input{ type: 'date', name: 'dob', id: 'dob_input' }
  %br
  %label{ for: 'address' } Address:
  %input{ type: 'text', name: 'address', id: 'address_input' }
  %br
  %input{ type: 'submit', id: 'login-form-submit', value: 'submit' }
