#Copy this files to [app]/config/config_env.rb
# Replace [*] with credentials/keys/etc.

config_env do
  set 'DB_KEY',"[database encryption key]"
end

config_env :development, :test do
  set 'DB_KEY', "[database encryption key in base64 url safe encoding]"
  set 'MSG_KEY', "[database encryption key in base64 url safe encoding]"
end

config_env :production do
  set 'DB_KEY', "[database encryption key in base64 url safe encoding]"
  set 'MSG_KEY', "[database encryption key in base64 url safe encoding]"
end

config_env do
  set 'SENDGRID_DOMAIN', "[domain setup for Sendgrid service]"
  set 'SENDGRID_USERNAME', "[username setup for Sendgrid service]"
  set 'SENDGRID_PASSWORD', "[password setup for Sendgrid service]"
end